Repository brown2020/chillmeapp: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

Feature/save meetings in firebase collection (#4)
  .eslintrc.json
  .gitignore
  README.md
  next.config.mjs
  package-lock.json
  package.json
  serverPreStart.js
  src/app/api/webhook/100ms/route.ts
  src/app/live/page.tsx
  src/app/loginfinish/page.tsx
  src/backend/services/meeting.ts
  src/backend/services/storage.ts
  src/components/AuthComponent.tsx
  src/components/JoinForm.tsx
  src/components/MeetingCard.tsx
  src/components/PastMeetings.tsx
  src/components/PaymentCheckoutPage.tsx
  src/components/PaymentSuccessPage.tsx
  src/components/TabGroup.tsx
  src/config/firebase/firebaseAdmin.ts
  src/config/firebase/firebaseClient.ts
  src/config/index.ts
  src/frontend/services/broadcasting.ts
  src/frontend/services/meeting.ts
  src/frontend/services/payment.ts
  src/frontend/services/user.ts
  src/hooks/useAuthToken.ts
  src/types/entities.d.ts
  src/types/user.d.ts
  src/utils/dateUtils.ts
  src/utils/handleError.ts
  src/zustand/useAuthStore.ts
  src/zustand/usePaymentsStore.ts
  src/zustand/useProfileStore.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

update packages
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

updating syntax for .mjs
  .eslintrc.json
  next.config.mjs
  serverPreStart.mjs
Due: prettier --write --ignore-unknown

lint errors
  src/components/AuthComponent.tsx
  src/components/PaymentCheckoutPage.tsx
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

fixing more lint issues
  .eslintrc.json
  src/components/AuthComponent.tsx
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

fix type error
  src/frontend/services/meeting.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

prettier and remove duplicate
  serverPreStart.js
  src/components/JoinForm.tsx
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

packages too
  package-lock.json
Due: prettier --write --ignore-unknown

tailwind-merge
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

showing you RecordingsPage
  src/components/RecordingsPage.tsx
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

add separate routes for meeting page and add useMeeting hook, fix duplicate room creating issue
  src/app/live/[roomId]/page.tsx
  src/app/live/page.tsx
  src/app/past-meetings/page.tsx
  src/components/JoinForm.tsx
  src/components/LayoutWrapper.tsx
  src/constants/menuItems.ts
  src/frontend/services/broadcasting.ts
  src/hooks/useMeeting.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

add recording status feedback in MeetingCard component
  src/app/live/[roomId]/page.tsx
  src/components/Header.tsx
  src/components/LayoutWrapper.tsx
  src/components/MeetingCard.tsx
  src/components/PastMeetings.tsx
  src/types/entities.d.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

add video player page
  package-lock.json
  package.json
  src/app/recording/page.tsx
  src/components/MeetingCard.tsx
  src/components/VideoPlayer.tsx
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

fix video player layout
  src/app/recording/page.tsx
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

update packages after merge
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

packages
  package-lock.json
Due: prettier --write --ignore-unknown

add feature document
  upcoming-features.md
Due: none

fix app structure
  package-lock.json
  package.json
  src/app/api/auth/[...nextauth].ts
  src/app/auth/signin/page.tsx
  src/app/loginfinish/page.tsx
  src/backend/lib/firebase.ts
  src/backend/services/meeting.ts
  src/backend/services/storage.ts
  src/components/AuthComponent.tsx
  src/components/RecordingsPage.tsx
  src/frontend/lib/firebaseClient.ts
  src/frontend/services/meeting.ts
  src/frontend/services/user.ts
  src/hooks/index.ts
  src/hooks/useAuth.ts
  src/hooks/useAuthToken.ts
  src/zustand/useAuthStore.ts
  src/zustand/usePaymentsStore.ts
  src/zustand/useProfileStore.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

init shadcn and add button component
  .eslintrc.json
  components.json
  package-lock.json
  package.json
  src/app/globals.css
  src/components/Forms/AuthForm.tsx
  src/components/ui/button.tsx
  src/lib/utils.ts
  tailwind.config.ts
  tsconfig.json
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

fix navbar and layouts
  components.json
  package-lock.json
  package.json
  serverPreStart.mjs
  src/app/layout.tsx
  src/frontend/components/ClientProvider.tsx
  src/frontend/components/Home.tsx
  src/frontend/constants/menuItems.ts
  src/frontend/layout/ContentWrapper.tsx
  src/frontend/layout/Navbar.tsx
  src/frontend/layout/index.tsx
  src/frontend/styles/globals.css
  tailwind.config.ts
  tsconfig.json
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

Path conditions:
  npm run eslint:fix: any of: *.{js, jsx,ts,tsx}
  npm run eslint: any of: *.{js, jsx,ts,tsx}
  prettier --write --ignore-unknown: any of: *.{json,js,ts,jsx,tsx,html}
