Repository brown2020/chillmeapp: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

fix: add legacy-peer-deps to .npmrc for Vercel compatibility
  .npmrc
Due: none

fix: ESLint 10 Vercel build compatibility (#24)
  .npmrc
  package.json
Due: prettier --write --ignore-unknown

chore(deps): update dependencies 2026-04-13
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore(deps): update dependencies 2026-04-13 (#25)
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore(deps): update dependencies 2026-04-19 [auto-fixes: lint-script-fix;eslint-9-pin;lucide-pin ]
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore(deps): update dependencies 2026-04-19 [auto-fixes: lint-script-fix;eslint-9-pin;lucide-pin ] (#26)
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

chore(deps): update dependencies 2026-04-23
  eslint.config.mjs
  package-lock.json
  package.json
  src/backend/services/storage.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

chore(deps): update dependencies 2026-04-23 (#27)
  eslint.config.mjs
  package-lock.json
  package.json
  src/backend/services/storage.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

fix(security): force uuid to 14.0.0 via overrides + direct dep pin
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

fix(security): force uuid to 14.0.0 via overrides + direct dep pin (#28)
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

docs: update agent instructions and product spec
  AGENTS.md
  CLAUDE.md
  MIGRATION_PLAN_LIVEKIT.md
  spec.md
  upcoming-features.md
Due: none

fix: stabilize app and harden route protection
  package-lock.json
  package.json
  src/app/api/auth/session/route.ts
  src/app/layout.tsx
  src/app/live/[roomId]/room-client.tsx
  src/app/recording/page.tsx
  src/backend/lib/firebase.ts
  src/backend/services/auth.ts
  src/backend/services/server-auth.ts
  src/backend/services/storage.ts
  src/frontend/components/AuthGuard.tsx
  src/frontend/components/Forms/CreateMeetingForm.tsx
  src/frontend/hooks/useAuth.ts
  src/frontend/hooks/useMeeting.ts
  src/frontend/services/broadcasting.ts
  src/frontend/services/payment.ts
  src/frontend/services/session-client.ts
  src/frontend/services/user.ts
  src/proxy.ts
  src/utils/auth-routes.test.ts
  src/utils/auth-routes.ts
  vitest.config.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

feat: complete guest join via meeting link
  spec.md
  src/app/live/[roomId]/room-client.tsx
  src/frontend/components/AuthGuard.tsx
  src/frontend/components/Forms/GuestJoinForm.tsx
  src/frontend/services/broadcasting.ts
  src/utils/auth-routes.test.ts
  src/utils/auth-routes.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

feat: complete session recording end-to-end
  spec.md
  src/app/api/webhook/livekit/route.ts
  src/backend/services/meeting.ts
  src/backend/services/storage.ts
  src/frontend/components/Forms/CreateMeetingForm.tsx
  src/frontend/services/broadcasting.ts
  src/types/entities.d.ts
  src/utils/recording-paths.test.ts
  src/utils/recording-paths.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

feat: complete password-protected meetings
  spec.md
  src/app/live/[roomId]/room-client.tsx
  src/backend/services/meeting.ts
  src/frontend/components/Forms/CreateMeetingForm.tsx
  src/frontend/components/Forms/GuestJoinForm.tsx
  src/frontend/hooks/useMeeting.ts
  src/frontend/services/broadcasting.ts
  src/types/firestore-models.d.ts
  src/utils/meeting-password.test.ts
  src/utils/meeting-password.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

feat: complete profile credits and Stripe checkout
  spec.md
  src/app/profile/page.tsx
  src/backend/services/user.ts
  src/frontend/components/CreditsPurchaseForm.tsx
  src/frontend/components/ProfileComponent.tsx
  src/frontend/services/payment.ts
  src/utils/credits-config.test.ts
  src/utils/credits-config.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

docs: map repository guidance and spec
  AGENTS.md
  agent-runs/2026-06-20-codebase-pass/00-orchestration-plan.md
  agent-runs/2026-06-20-codebase-pass/01-preflight-and-repo-docs.md
  agent-runs/2026-06-20-codebase-pass/02-baseline-validation.md
  agent-runs/2026-06-20-codebase-pass/03-findings-backlog.md
  agent-runs/2026-06-20-codebase-pass/04-execute-fixes-and-improvements.md
  agent-runs/2026-06-20-codebase-pass/05-package-and-dead-code-cleanup.md
  agent-runs/2026-06-20-codebase-pass/06-review.md
  agent-runs/2026-06-20-codebase-pass/07-stabilization-loop.md
  agent-runs/2026-06-20-codebase-pass/08-integrator.md
  agent-runs/2026-06-20-codebase-pass/final-report.md
  agent-runs/2026-06-20-codebase-pass/run-state.md
  agent-runs/2026-06-20-codebase-pass/skill-improvement-log.md
  agent-runs/2026-06-20-codebase-pass/task-queue.md
  spec.md
Due: none

test: document baseline validation
  agent-runs/2026-06-20-codebase-pass/01-preflight-and-repo-docs.md
  agent-runs/2026-06-20-codebase-pass/02-baseline-validation.md
  agent-runs/2026-06-20-codebase-pass/run-state.md
  agent-runs/2026-06-20-codebase-pass/task-queue.md
Due: none

chore: add codebase findings backlog
  agent-runs/2026-06-20-codebase-pass/03-findings-backlog.md
  agent-runs/2026-06-20-codebase-pass/run-state.md
  agent-runs/2026-06-20-codebase-pass/task-queue.md
Due: none

fix: correct meeting history metadata
  agent-runs/2026-06-20-codebase-pass/04-execute-fixes-and-improvements.md
  agent-runs/2026-06-20-codebase-pass/run-state.md
  agent-runs/2026-06-20-codebase-pass/task-queue.md
  src/app/api/webhook/livekit/route.ts
  src/frontend/components/MeetingCard.tsx
  src/frontend/services/meeting.ts
  src/types/entities.d.ts
  src/utils/dateUtils.test.ts
  src/utils/dateUtils.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

chore: update safe dependency locks
  agent-runs/2026-06-20-codebase-pass/04-execute-fixes-and-improvements.md
  agent-runs/2026-06-20-codebase-pass/05-package-and-dead-code-cleanup.md
  agent-runs/2026-06-20-codebase-pass/run-state.md
  agent-runs/2026-06-20-codebase-pass/task-queue.md
  package-lock.json
Due: prettier --write --ignore-unknown

fix: validate meeting password before room creation
  agent-runs/2026-06-20-codebase-pass/04-execute-fixes-and-improvements.md
  agent-runs/2026-06-20-codebase-pass/05-package-and-dead-code-cleanup.md
  agent-runs/2026-06-20-codebase-pass/run-state.md
  agent-runs/2026-06-20-codebase-pass/task-queue.md
  src/frontend/components/Forms/CreateMeetingForm.tsx
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

Path conditions:
  npm run eslint:fix: any of: *.{js, jsx,ts,tsx}
  npm run eslint: any of: *.{js, jsx,ts,tsx}
  prettier --write --ignore-unknown: any of: *.{json,js,ts,jsx,tsx,html}
