Repository brown2020/chillmeapp: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

bug fix
  next.config.mjs
  src/app/api/webhook/100ms/route.ts
  src/backend/services/broadcasting.ts
  src/backend/services/user.ts
  src/frontend/components/Livestream.tsx
  src/frontend/hooks/useMeeting.ts
  src/frontend/zustand/useMeetingStore.ts
  src/types/firestore-models.d.ts
  src/utils/common.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

fix bugs
  package-lock.json
  package.json
  src/app/api/webhook/100ms/route.ts
  src/backend/services/user.ts
  src/types/firestore-models.d.ts
  src/utils/common.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

Feature/deduct credits based on 100ms usage and ai functionalities (#17)
  next.config.mjs
  package-lock.json
  package.json
  src/app/api/webhook/100ms/route.ts
  src/backend/services/broadcasting.ts
  src/backend/services/user.ts
  src/frontend/components/Livestream.tsx
  src/frontend/components/MeetingChatWidget.tsx
  src/frontend/hooks/useMeeting.ts
  src/frontend/services/meeting.ts
  src/frontend/zustand/useMeetingStore.ts
  src/types/firestore-models.d.ts
  src/utils/common.ts
  upcoming-features.md
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

update feature doc
  upcoming-features.md
Due: none

-
  upcoming-features.md
Due: none

add jest setup config files
  jest.config.ts
  jest.setup.ts
  package-lock.json
  package.json
  tests/integration/example.test.ts
  tests/unit/example.test.ts
  tsconfig.json
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

update config
  jest.config.ts
  jest.setup.ts
  package-lock.json
  package.json
  tests/unit/components/Button.test.tsx
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

fix:Property toBeInTheDocument does not exist
  package-lock.json
  package.json
  tests/unit/components/Button.test.tsx
  tsconfig.json
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

fix module mapping issue
  jest.config.ts
  package.json
  tests/unit/components/Button.test.tsx
  tsconfig.json
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

Setup unit tests (#18)
  jest.config.ts
  jest.setup.ts
  package-lock.json
  package.json
  tests/integration/example.test.ts
  tests/unit/components/Button.test.tsx
  tests/unit/example.test.ts
  tsconfig.json
  upcoming-features.md
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

put unit tests for auth form
  jest.config.ts
  package-lock.json
  package.json
  tests/unit/components/AuthForm.test.tsx
  tests/unit/components/Button.test.tsx
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

put unit tests on place
  tests/unit/components/AuthGuard.test.tsx
  tests/unit/components/CreateMeetingForm.test.tsx
  tests/unit/components/MeetingCard.test.tsx
  tests/unit/components/MeetingChatWidget.test.tsx
  tests/unit/components/MeetingControls.test.tsx
  tests/unit/components/MeetingMemberStream.test.tsx
  tests/unit/components/ProfileComponent.test.tsx
  tests/unit/components/TabGroup.test.tsx
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

fix lint errors
  tests/unit/components/MeetingMemberStream.test.tsx
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

chore(deps): update all dependencies
  package-lock.json
Due: prettier --write --ignore-unknown

Remove legacy env bootstrap and refresh dependencies
  MIGRATION_PLAN_LIVEKIT.md
  next.config.mjs
  package-lock.json
  package.json
  serverPreStart.mjs
  upcoming-features.md
Due: prettier --write --ignore-unknown

chore: update npm dependencies 2026-04-05
  package-lock.json
  package.json
  src/backend/lib/firebase.ts
  src/backend/services/meeting.ts
  src/backend/services/storage.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

chore: update npm dependencies 2026-04-05 (#21)
  package-lock.json
  package.json
  src/backend/lib/firebase.ts
  src/backend/services/meeting.ts
  src/backend/services/storage.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

chore(deps): update dependencies 2026-04-07
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

fix: code sweep -- deps update, bug fixes, cleanup, UX improvements
  eslint.config.mjs
  package-lock.json
  package.json
  src/app/api/webhook/livekit/route.ts
  src/app/auth/signout/page.tsx
  src/app/auth/verify-email/page.tsx
  src/app/live/[roomId]/room-client.tsx
  src/backend/lib/firebase.ts
  src/backend/services/meeting.ts
  src/backend/services/storage.ts
  src/frontend/components/AuthGuard.tsx
  src/frontend/components/ErrorBoundary.tsx
  src/frontend/components/MeetingCard.tsx
  src/frontend/components/VideoPlayer.tsx
  src/frontend/components/ui/Chat/ChatInput.tsx
  src/frontend/components/ui/Chat/ChatMessageList.tsx
  src/frontend/hooks/useAuth.ts
  src/frontend/hooks/useToast.ts
  src/types/assets.d.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

fix: code sweep -- deps update, bug fixes, cleanup, UX improvements (#23)
  eslint.config.mjs
  package-lock.json
  package.json
  src/app/api/webhook/livekit/route.ts
  src/app/auth/signout/page.tsx
  src/app/auth/verify-email/page.tsx
  src/app/live/[roomId]/room-client.tsx
  src/backend/lib/firebase.ts
  src/backend/services/meeting.ts
  src/backend/services/storage.ts
  src/frontend/components/AuthGuard.tsx
  src/frontend/components/ErrorBoundary.tsx
  src/frontend/components/MeetingCard.tsx
  src/frontend/components/VideoPlayer.tsx
  src/frontend/components/ui/Chat/ChatInput.tsx
  src/frontend/components/ui/Chat/ChatMessageList.tsx
  src/frontend/hooks/useAuth.ts
  src/frontend/hooks/useToast.ts
  src/types/assets.d.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

fix: remove eslint-config-next to resolve ESLint 10 peer dep conflict
  package.json
Due: prettier --write --ignore-unknown

fix: add legacy-peer-deps to .npmrc for Vercel compatibility
  .npmrc
Due: none

Path conditions:
  npm run eslint:fix: any of: *.{js, jsx,ts,tsx}
  npm run eslint: any of: *.{js, jsx,ts,tsx}
  prettier --write --ignore-unknown: any of: *.{json,js,ts,jsx,tsx,html}
