Repository brown2020/chillmeapp: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

update command exection order for lint-staged
  .lintstagedrc
Due: none

fix lint-staged commands
  .lintstagedrc
Due: none

refactor
  .env.example
  .gitignore
  README.md
  src/app/page.tsx
  src/components/ChatView.tsx
  src/components/ClientOnly.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/JoinForm.tsx
  src/components/Livestream.tsx
  src/components/Modal.tsx
  src/components/PeerDisplay.tsx
  src/serverActions/100msLiveActions.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

Initial commit from Create Next App
  .eslintrc.json
  .gitignore
  README.md
  next.config.mjs
  package-lock.json
  package.json
  postcss.config.mjs
  src/app/favicon.ico
  src/app/fonts/GeistMonoVF.woff
  src/app/fonts/GeistVF.woff
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  tailwind.config.ts
  tsconfig.json
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

initial
  .env.example
  package-lock.json
  package.json
  src/app/[room]/page.tsx
  src/app/assets/logo.png
  src/app/favicon.ico
  src/app/fonts/GeistMonoVF.woff
  src/app/fonts/GeistVF.woff
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/ChatView.tsx
  src/components/ClientOnly.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/JoinForm.tsx
  src/components/Livestream.tsx
  src/components/PeerDisplay.tsx
  src/serverActions/100msLiveActions.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

fix lint
  src/app/layout.tsx
  src/app/live/page.tsx
  src/components/Header.tsx
  src/components/Livestream.tsx
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

readme
  README.md
Due: none

bugs
  src/app/live/[room]/page.tsx
  src/components/Livestream.tsx
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

update packages
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

package udpate
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

package updates
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

bugs
  src/app/live/[room]/page.tsx
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

bug in invitation modal
  src/components/Header.tsx
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

fix bug in invite link
  src/components/Modal.tsx
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

bugs
  src/app/live/[room]/page.tsx
  src/app/live/page.tsx
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

add config for prettier, husky and lint-staged
  .eslintrc.json
  .husky/pre-commit
  .lintstagedrc
  .vscode/settings.json
  package-lock.json
  package.json
  src/app/loginfinish/page.tsx
  src/components/ChatView.tsx
  src/components/Footer.tsx
  src/components/JoinForm.tsx
  src/components/PaymentSuccessPage.tsx
  src/components/ProfileComponent.tsx
  src/hooks/useAuthToken.ts
  src/serverActions/liveActions.ts
  src/types/cookies-next.d.ts
  src/zustand/useAuthStore.ts
  src/zustand/usePaymentsStore.ts
  src/zustand/useProfileStore.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

sign commits
  .env.example
  README.md
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

fix project architecture, implement functionality to record broadcasting sessions and store videos in firebase storage
  .gitignore
  README.md
  package-lock.json
  package.json
  src/app/api/webhook/100ms/route.ts
  src/app/loginfinish/page.tsx
  src/backend/services/storage.ts
  src/components/AuthComponent.tsx
  src/components/JoinForm.tsx
  src/components/PaymentCheckoutPage.tsx
  src/components/PaymentSuccessPage.tsx
  src/config/firebase/firebaseAdmin.ts
  src/config/firebase/firebaseClient.ts
  src/config/index.ts
  src/firebase/firebaseAdmin.ts
  src/frontend/services/broadcasting.ts
  src/frontend/services/payment.ts
  src/hooks/useAuthToken.ts
  src/utils/handleError.ts
  src/zustand/useAuthStore.ts
  src/zustand/usePaymentsStore.ts
  src/zustand/useProfileStore.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

add server pre start script to make sure all config requirements are satisfied
  .eslintrc.json
  next.config.mjs
  serverPreStart.js
  src/frontend/services/broadcasting.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

env should not start with number, blocked by Vercel
  serverPreStart.js
  src/frontend/services/broadcasting.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

revert to firebase-admin as env for now, easier for Vercel
  src/config/firebase/firebaseAdmin.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

fix redirect when signin with email link
  src/app/loginfinish/page.tsx
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

local storage naming
  src/app/loginfinish/page.tsx
  src/components/AuthComponent.tsx
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

package upates
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

add tabgroup component, implement saving and fetching meeting info
  package-lock.json
  package.json
  src/app/live/page.tsx
  src/components/JoinForm.tsx
  src/components/MeetingCard.tsx
  src/components/PastMeetings.tsx
  src/components/TabGroup.tsx
  src/frontend/services/broadcasting.ts
  src/frontend/services/meeting.ts
  src/frontend/services/user.ts
  src/types/entities.d.ts
  src/types/user.d.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

add session close event handling, meeting video file fetching and fix meetings entity minor bugs
  src/app/api/webhook/100ms/route.ts
  src/backend/services/meeting.ts
  src/backend/services/storage.ts
  src/components/MeetingCard.tsx
  src/frontend/services/broadcasting.ts
  src/frontend/services/meeting.ts
  src/types/entities.d.ts
  src/utils/dateUtils.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

Feature/save meetings in firebase collection (#4)
  .eslintrc.json
  .gitignore
  README.md
  next.config.mjs
  package-lock.json
  package.json
  serverPreStart.js
  src/app/api/webhook/100ms/route.ts
  src/app/live/page.tsx
  src/app/loginfinish/page.tsx
  src/backend/services/meeting.ts
  src/backend/services/storage.ts
  src/components/AuthComponent.tsx
  src/components/JoinForm.tsx
  src/components/MeetingCard.tsx
  src/components/PastMeetings.tsx
  src/components/PaymentCheckoutPage.tsx
  src/components/PaymentSuccessPage.tsx
  src/components/TabGroup.tsx
  src/config/firebase/firebaseAdmin.ts
  src/config/firebase/firebaseClient.ts
  src/config/index.ts
  src/frontend/services/broadcasting.ts
  src/frontend/services/meeting.ts
  src/frontend/services/payment.ts
  src/frontend/services/user.ts
  src/hooks/useAuthToken.ts
  src/types/entities.d.ts
  src/types/user.d.ts
  src/utils/dateUtils.ts
  src/utils/handleError.ts
  src/zustand/useAuthStore.ts
  src/zustand/usePaymentsStore.ts
  src/zustand/useProfileStore.ts
Due: npm run eslint:fix, npm run eslint, prettier --write --ignore-unknown

Path conditions:
  npm run eslint:fix: any of: *.{js, jsx,ts,tsx}
  npm run eslint: any of: *.{js, jsx,ts,tsx}
  prettier --write --ignore-unknown: any of: *.{json,js,ts,jsx,tsx,html}
